// Colores del home
$color1: #7fcfc9;
$color2: #F7F7F7;
$color3: pink;
$color4: black;
$color5: #232833;
$color6: #4F5B66;
$color7: skyblue ;
$color8: #202020;
$color9: #C7C7C7;
$color10:#101010;
$color11:#4a4a4a;
$color12:#e8e8e8;
$color13: #d5edf0;
$color14: #42d2b6;
$color15: #CE242A;
$color16:#e7ecee;
$color17: #434e59; 
$color18:#52a1d5;
// Fin de los colores